body {
  /* background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */ */
  /* background-color: #8EC5FC; */
  /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */

  /* background: #7F00FF;
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
  background: linear-gradient(to right, #E100FF, #7F00FF); */

  /* background: #ef32d9;
  background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
  background: linear-gradient(to right, #89fffd, #ef32d9); */

  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%,  transparent 0%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.centering {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -50%;
  background-color: #ffffff;
  height: 100vh;
}

.centering-left {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -40%;
}


.welcome-title {
  font-weight: 400;
  font-size: 1.6rem;
}
